flows.json
[{"id":"c8107088.37ef9","type":"http in","z":"5b79c04942fadb0d","name":"","url":"/coins","method":"get","upload":false,"swaggerDoc":"","x":210,"y":340,"wires":[["79687042d83ab6c4"]]},{"id":"65401623.9abfe8","type":"change","z":"5b79c04942fadb0d","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":340,"wires":[["f7d3e35a.082c2"]]},{"id":"f7d3e35a.082c2","type":"http response","z":"5b79c04942fadb0d","name":"","x":1310,"y":340,"wires":[]},{"id":"e3ccfa8f55fdecb8","type":"http request","z":"5b79c04942fadb0d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api2.binance.com/api/v3/ticker/24hr","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":930,"y":260,"wires":[["65401623.9abfe8","8749346ab82d8f8e"]]},{"id":"0524d928cd994473","type":"Cache in","z":"5b79c04942fadb0d","name":"","cache":"03820e81fb6843d0","keyType":"msg","keyProperty":"topic","valueType":"msg","valueProperty":"payload","useString":false,"outputs":1,"x":610,"y":340,"wires":[["2851f62404462fda"]]},{"id":"2851f62404462fda","type":"switch","z":"5b79c04942fadb0d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":340,"wires":[["e3ccfa8f55fdecb8"],["65401623.9abfe8"]]},{"id":"79687042d83ab6c4","type":"change","z":"5b79c04942fadb0d","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"req.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":340,"wires":[["0524d928cd994473"]]},{"id":"05ceb83553d49040","type":"Cache out","z":"5b79c04942fadb0d","name":"","cache":"03820e81fb6843d0","keyType":"msg","keyProperty":"topic","valueType":"msg","valueProperty":"payload","ttlType":"msg","ttlProperty":"ttl","useString":false,"x":1310,"y":260,"wires":[]},{"id":"8749346ab82d8f8e","type":"change","z":"5b79c04942fadb0d","name":"","rules":[{"t":"set","p":"ttl","pt":"msg","to":"300","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":180,"wires":[["05ceb83553d49040"]]},{"id":"03820e81fb6843d0","type":"Cache","name":"Test","defaultTtl":"360","checkPeriod":""}]